body {
    background-color: #e1e5eb;
    font-family: Arial, helvetica sans-serif;
}
header {
    background-color: #507299;
    margin-left: -8px;
    margin-right: -8px;
    margin-top: -8px;
}
.logo {
    margin-left: 10%;
}
.contents {
    margin-left: 20%;
    color: #2e5473;
}
.ImportantInformation {
    position: fixed;
    margin-left: 80%;
    margin-top: -220px;
}
.inf {
    background-color: white;
    border: 2px solid #d0d0d0;
    width: 130px;
    margin: 20px; 
    padding: 10px 10px;
    border-radius: 10px;
} 
.container {
    margin: 1%;
    width: 460px;
    font-size: 16px;
    text-align: justify;
    margin-left: 35%;
    margin-top: -195px;
    

}
.block {
    background-color: white;
    border: 1px solid #d0d0d0;
    border-radius: 10px;
    padding: 30px;        
    width: 480px;
    margin-bottom: 20px;
    }
.like {
    color: #2e5473;
    float: left; 
    width: 50%;
   
    }
.comment {
    color: #2e5473;
    float: left; 
    width: 50%;
    text-align: right;
   
}
.kitty {
    width: 420px;
    margin: 20px;
    }

footer {
    height: 25px;
    background-color: white;
}
.text {
color:#d0d0d0;
width: 250px;
margin-left: 45%;
}
.button {
margin-left: 970px;
margin-top: -25px;
width: 250px;
}
::selection {
    background-color: #edeef0 ;
    color: green;
}
.elem1:hover {
    background-color:#507299;
}
    